body {
  font-family: "Merriweather", serif;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Header */
header {
  height: 570px;
}

header h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 75px;
}

header h3 {
  font-size: 35px;
}

/* Quote Box */
#quote-box {
  border: 5px solid #191970;
  padding: 50px;
  width: 70%;
  margin-left: 15%;
}

#text {
  font-size: 20px;
  color: #333;
  padding-bottom: 20px;
}

#author {
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  padding-bottom: 50px;
}

.btn {
  margin-right: 25px;
}

.btn a {
  color: #fff;
  text-decoration: none;
}

.btn a:hover {
  color: #FFFAFA;
}

/* Footer */
footer {
  padding: 15px;
  height: 55px;
  background-color: #191970;
}

footer p {
  font-size: 16px;
  color: #FFFAFA;
}
